
.cyber-button {
  width: 12em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cyber-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--cyber-bg, #0D1430);
  transition: 0.5s;
  transform-origin: center;
  z-index: 1;
}

.cyber-button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: var(--cyber-bg, #0D1430);
  transition: 0.5s;
  z-index: 1;
}

.cyber-button:hover::before, .cyber-button:hover::after {
  transform: scale(0)
}

.cyber-button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
  color: #fff;
  text-shadow: 0 0 8px #149CEA;
}

.cyber-button span {
    position: relative;
    z-index: 2;
}

.cyber-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
